.grid-container {
  background-color: aquamarine;
}

.header {
  grid-area: hd;
  height: 100px;
  text-align: center;
}

.dailies {
  grid-area: dl;
  padding: 0px 50px 0px 50px;
  border: 1px solid #000;
  text-align: center;
}

.todos {
  grid-area: td;
  padding: 0px 50px 0px 50px;
  border: 1px solid #000;
  text-align: center;
}

.habits {
  grid-area: hb;
  padding: 0px 50px 0px 50px;
  border: 1px solid #000;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 20px;
  grid-template-areas:
      "hd hd hd"
      "dl td hb";
}

.tick {
  height: 200px;
}

.dailiesListItem {
  border: 1px solid #000;;
}

.habitsListItem {
  border: 1px solid #000;
}

.todosListItem {
  border: 1px solid #000;
}